html {
  height: 100%;
}
body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

li.nav-item {
  margin-right: 5px;
}

h1 {
  font-size: 38px;
  margin-bottom: 14px;
  font-weight: bold;
}

.userTitle {
  margin-left: 195px;
  margin-top: -45px;
}

.study {
  margin-bottom: -21px;
  text-align: center;
  font-size: 37px;
  width: 800px;
  margin-left: 320px;
  font-weight: bold;
}

.box {
  padding: 15px 50px;
  margin-right: 35px;
  font-size: 25px;
  height: 20px;
}

#sel1,
#sel2,
#sel3 {
  width: 330px;
  height: 50px;
  font-size: 23px;
  text-align: center;
  margin-left: 30px;
  margin-top: -28px;
  margin-top: -28px;
  border: solid #30467C;
}

.btn.btn-primary {
 padding: 10px;
    margin-top: 230px;
    background-image: none;
    background-color: #FFA076;
    font-size: 18px;
    color: black;
    border-color: #FFA076;
    margin-left: 260px;
}

