.sc-name {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
  margin-left: 13px;
  font-weight: bold;
}
.col-md-2.col-sm-6.col-xs-12 {
  padding-left: 110px;
}

/* .date {
  display: block;
  width: 100%;
  margin: auto;
} */

#goal-chart {
  margin-top: -10rem;
  margin-left: 8rem;
}

#horizontalBar {
  height: 335px;
  width: 535px;
  float: left;
  margin-left: 8rem;
  background-color: white;
}

#goal {
  /* padding-left: 0rem; */
  width: 100%;
  padding-top: 4rem;
}

#ed {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: 60rem;
  width: 80%;
}

.ed-col-md-6 {
  width: 50%;
  margin-left: -10%;
  margin-top: -3.5rem;
  text-align: center;
}

span.perc {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color: rgb(92, 147, 200);
}
